[Unit]
Description=Zback Client Service
After=network.target
Requires=zfs.target
Documentation=https://wiki.workshopit.co.uk/doku.php?id=wit:zback:config

[Service]
Type=simple
ExecStart=/usr/bin/zback client start
ExecStop=/usr/bin/zback client stop
ExecReload=/usr/bin/zback client restart