[Unit]
Description=Zback Server Service
After=network.target
Requires=zfs.target
Documentation=https://wiki.workshopit.co.uk/doku.php?id=wit:zback:config

[Service]
Type=simple
ExecStart=/usr/bin/zback server start
ExecStop=/usr/bin/zback server stop
ExecReload=/usr/bin/zback server restart